<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="text-align: center;">Buttons</h1>
    <hr>
    <div class="container-btn-area">
        <button type="button" class="btn-primary">Primary</button>
        <button type="button" class="btn-secondary">Secondary</button>
        <button type="button" class="btn-success">Success</button>
        <button type="button" class="btn-danger">Danger</button>
        <button type="button" class="btn-warning">Warning</button>
        <button type="button" class="btn-info">Info</button>
        <button type="button" class="btn-light">Light</button>
        <button type="button" class="btn-dark">Dark</button>
    </div>

    <!-- part2 -->

    <div class="container-btn-out">
        <button type="button" class="btn-primary-out">Primary</button>
        <button type="button" class="btn-secondary-out">Secondary</button>
        <button type="button" class="btn-success-out">Success</button>
        <button type="button" class="btn-danger-out">Danger</button>
        <button type="button" class="btn-warning-out">Warning</button>
        <button type="button" class="btn-info-out">Info</button>
        <button type="button" class="btn-light-out">Light</button>
        <button type="button" class="btn-dark-out">Dark</button>
    </div>


    <div class="container-btn-states">
        <button type="button" class="btn-states">Toogle</button>
    </div>
</body>
</html>